<!DOCTYPE html>

<html>
<head>
	<title>Delivery Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
	<link href="Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		
		@*<div id="loading" class="text-center"><img src="Images/loading.gif" alt="loading" /></div>*@
        <div data-bind="with: selectedPage">
		    <div data-bind="template: { name: template, data: data }"></div>
        </div>

		<script type="text/html" id="login">
			<form class="form-signin">
				<h3 class="form-signin-heading">Sign in</h3>
				Username:
				<input type="text" class="input-block-level" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
				Password: @*<a href="#" data-bind="click: Forgot">Forgot?</a>*@
				<input type="password" class="input-block-level" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
				Truck:
				<select class="input-block-level" data-bind="value: Truck, options: Trucks, optionsCaption: 'Select a Truck...'"></select>
				<button class="btn btn-primary" type="submit" data-bind="click: Login, css: { disabled: IsInvalid }">Sign in</button>
				<button class="btn btn-info" type="submit" data-bind="click: Register">Register</button>
                <button class="btn" type="submit" data-bind="click: AuthDevice">Authorize</button>
			</form>
		</script>

        <script type="text/html" id="register">
            <form class="form-signin">
				<h3 class="form-signin-heading">Register</h3>
				Username:
				<input type="text" class="input-block-level" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
				Password:
				<input type="password" class="input-block-level" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
                Confirm Password:
                <input type="password" class="input-block-level" placeholder="Password" data-bind="value: PasswordConfirm, valueUpdate:'afterkeydown'" />
                Hint Question (Will be asked if you forget your password):
                <input type="text" class="input-block-level" placeholder="Hint Question" data-bind="value: HintQuestion, valueUpdate:'afterkeydown'" />
                Hint Answer:
                <input type="text" class="input-block-level" placeholder="Hint Answer" data-bind="value: HintAnswer, valueUpdate:'afterkeydown'" />
                <button class="btn btn-primary" type="submit" data-bind="click: Register, css: { disabled: IsInvalid }">Register</button>
                <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
            </form>
        </script>

        <script type="text/html" id="enterUsername">
            <form class="form-signin">
                <h3 class="form-signin-heading">Enter Username</h3>
                <input type="text" class="input-block-level" placeholder="Username" />
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </script>

		<script type="text/html" id="passwordHint">
			<form class="form-signin">
				<h3 class="form-signin-heading">Reset Password</h3>
				<span data-bind="text: Hint"></span>?
				<input type="text" class="input-block-level" placeholder="Answer" />
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</script>

        <script type="text/html" id="welcome">
            <form class="form-signin">
                <h3 class="form-signin-heading">Welcome</h3>
                <span data-bind="text: $root.authCode"></span>
            </form>
        </script>

        <script type="text/html" id="deviceauth">
            <form class="form-signin">
                <h3 class="form-signin-heading">Device Authorization</h3>
                Authorization Code:
                <input type="password" class="input-block-level" data-bind="value: deviceAuth" />
                <button class="btn btn-primary" data-bind="click: setAuthCode">Submit</button>
                <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
            </form>
        </script>
	</div>
</body>
<script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/lib/jquery.cookie.js"></script>
<script src="~/Scripts/lib/knockout-2.2.1.js"></script>
<script src="~/Scripts/dt.authentications.js"></script>
<script src="~/Scripts/dt.viewmodels.js"></script>
<script src="~/Scripts/dt.trucks.js"></script>
<script src="~/Scripts/dt.users.js"></script>
<script src="~/Scripts/dt.deliveries.js"></script>
<script src="~/Scripts/dt.handleError.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
	    var userAuth = $.cookie('dtuserauth'),
            deviceAuth = dt.authentications.getDeviceAuth(),
			dt = DT.viewModels;

		$.ajaxSetup({
		    headers: { "DeviceAuth": deviceAuth }
		});

		var viewModel = new dt.ViewModel([
            new dt.Page('deviceauth', new dt.DeviceAuth()),
			new dt.Page('login', new dt.Login()),
            new dt.Page('register', new dt.Register()),
            new dt.Page('welcome', {})
		]);

		ko.applyBindings(viewModel);
	});
</script>
</html>
