<!DOCTYPE html>

<html lang="en">
<head>
	<title>Delivery Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link href="/DeliveryTracker.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
        <div data-bind="with: selectedPage">
		    <div data-bind="template: { name: template, data: data }"></div>
        </div>

		<script type="text/html" id="login">
			<form class="form-signin">
				<h3 class="form-signin-heading">Sign in</h3>
				Username:
				<input type="text" class="input-block-level" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
				Password: <a href="#" data-bind="click: Forgot">Forgot?</a>
				<input type="password" class="input-block-level" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
				Truck:
				<select class="input-block-level" data-bind="value: Truck, options: Trucks, optionsCaption: 'Select a Truck...'"></select>
				<button class="btn btn-primary" type="submit" data-bind="click: Login, css: { disabled: IsInvalid }">Sign in</button>
				<button class="btn btn-info" type="submit" data-bind="click: Register">Register</button>
                <button class="btn" type="submit" data-bind="click: AuthDevice">Authorize</button>
			</form>
		</script>

        <script type="text/html" id="register">
            <form class="form-signin">
				<h3 class="form-signin-heading">Register</h3>
				Username:
				<input type="text" class="input-block-level" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
				Password:
				<input type="password" class="input-block-level" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
                Confirm Password:
                <input type="password" class="input-block-level" placeholder="Password" data-bind="value: PasswordConfirm, valueUpdate:'afterkeydown'" />
                Hint Question (Will be asked if you forget your password):
                <input type="text" class="input-block-level" placeholder="Hint Question" data-bind="value: HintQuestion, valueUpdate:'afterkeydown'" />
                Hint Answer:
                <input type="text" class="input-block-level" placeholder="Hint Answer" data-bind="value: HintAnswer, valueUpdate:'afterkeydown'" />
                <button class="btn btn-primary" type="submit" data-bind="click: Register, css: { disabled: IsInvalid }">Register</button>
                <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
            </form>
        </script>

        <script type="text/html" id="enterUsername">
            <form class="form-signin">
                <h3 class="form-signin-heading">Enter Username</h3>
                <input type="text" class="input-block-level" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
                <button class="btn btn-primary" type="submit" data-bind="click: SubmitUserName, css: { disabled: UserIsInvalid }">Submit</button>
                <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
            </form>
        </script>

		<script type="text/html" id="passwordHint">
			<form class="form-signin">
                <div data-bind="if: HintQuestion() !== ''">
				    <h3 class="form-signin-heading">Answer Hint</h3>
				    <span data-bind="text: HintQuestion"></span>?
				    <input type="text" class="input-block-level" placeholder="Answer" data-bind="value: HintAnswer, valueUpdate:'afterkeydown'" />
                    New Password:
				    <input type="password" class="input-block-level" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
                    Confirm Password:
                    <input type="password" class="input-block-level" placeholder="Password" data-bind="value: PasswordConfirm, valueUpdate:'afterkeydown'" />
				    <button class="btn btn-primary" type="submit" data-bind="click: SavePassword, css: { disabled: IsInvalid }">Submit</button>
                    <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
                </div>
                <div id="loading" class="text-center" data-bind="if: HintQuestion() == ''"><img src="img/loading.gif" alt="loading" /></div>
			</form>            
		</script>

        <script type="text/html" id="deliveries">
            <form class="form-signin">
                <h3 class="form-signin-heading">Deliveries</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Deliveries">
                        <tr>
                            <td>
                                <p data-bind="text: Company"></p>
                                <p data-bind="text: Addr1"></p>
                            </td>
                            <td data-bind="text: Contact"></td>
                            <td><button class="btn" data-bind="click: $parent.goToDelivery">Details</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </script>

        <script type="text/html" id="delivery">
            <form class="form-signin" data-bind="with: CurrentDelivery">
                <h3 class="form-signin-heading">Delivery <span data-bind="text: Number"></span></h3>
                <div class="row-fluid">
                    <div class="span6">
                        <address>
                            <strong data-bind="text: Company"></strong><br />
                            <span data-bind="text: Contact"></span><br />
                            <span data-bind="text: Addr1"></span><br />
                            <span data-bind="text: City"></span>, <span data-bind="text: State"></span> <span data-bind="text: Zip"></span><br />
                        </address>
                    </div>
                    <div class="span6">
                        <dl class="dl-horizontal">
                            <dt>PO #</dt>
                            <dd data-bind="text: PoNumber"></dd>
                            <dt>Phone</dt>
                            <dd data-bind="text: Phone"></dd>
                        </dl>

                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Allocated</th>
                            <th>Delivered</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Items">
                        <tr>
                            <td><p data-bind="text: Number"></p><p data-bind="text: Description"></p></td>
                            <td data-bind="text: Allocated"></td>
                            <td><input type="number" class="input-mini" data-bind="value: Delivered, valueUpdate:'afterkeydown'" /></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn" data-bind="click: $parent.goToDeliveries"><i class="icon-chevron-left"></i> Deliveries</button>
                <button class="btn btn-info" data-bind="click: $parent.goToSignature, css: { disabled: Signature, btn-info: !Signature, btn-success: Signature }">Signature</button>
                <button class="btn btn-info" data-bind="click: $parent.goToPrint, css: { disabled: Printed, btn-info: !Printed, btn-success: Printed }">Printed</button>
                <button class="btn btn-inverse" data-bind="click: $parent.goToMap">Map</button>
            </form>
        </script>

        <script type="text/html" id="signature">
            <form class="form-signin">
                <h3 class="form-signin-heading">Signature</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <canvas id="signatureCanvas"></canvas>
                    </div>
                </div>
                <button class="btn btn-success" data-bind="click: saveSignature">Save</button>
                <button class="btn btn-danger" data-bind="click: cancelSignature">Clear</button>
            </form>
        </script>

        <script type="text/html" id="print">
            <form class="form-signin">
                <h3 class="form-signin-heading">Printed</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <canvas id="printCanvas"></canvas>
                    </div>
                </div>
                <button class="btn btn-success" data-bind="click: savePrint">Save</button>
                <button class="btn btn-danger" data-bind="click: cancelPrint">Clear</button>
            </form>
        </script>

        <script type="text/html" id="map">
            <form class="form-signin" data-bind="with: CurrentDelivery">
                <h3 class="form-signin-heading">Map</h3>
                <div>
                    <img src="src" data-bind="src: 'https://maps.googleapis.com/maps/api/staticmap?center=' + Addr1 + ',' + Zip + '&amp;zoom=14&amp;size=250x200&amp;markers=' + Addr1 + ',' + Zip + '&amp;sensor=false'" />
                </div>
                <button class="btn" data-bind="click: $parent.goToDelivery"><i class="icon-chevron-left"></i> Deliveries</button>
            </form>
        </script>

        <script type="text/html" id="deviceauth">
            <form class="form-signin">
                <h3 class="form-signin-heading">Authorize Device</h3>
                Device Name:
                <input type="text" class="input-block-level" data-bind="value: deviceName, valueUpdate:'afterkeydown'" />
                Authorization Code:
                <input type="password" class="input-block-level" data-bind="value: deviceAuth, valueUpdate:'afterkeydown'" />
                <button class="btn btn-success" data-bind="click: setAuthCode, css: { disabled: IsInvalid }">Authorize</button>
                <button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
            </form>
        </script>
	</div>
</body>
<script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/lib/jquery.cookie.js"></script>
<script src="~/Scripts/lib/knockout-2.2.1.js"></script>
<script src="~/Scripts/canvas.js"></script>
<script src="~/Scripts/dt.authentications.js"></script>
<script src="~/Scripts/dt.deliveries.js"></script>
<script src="~/Scripts/dt.handleError.js"></script>
<script src="~/Scripts/dt.trucks.js"></script>
<script src="~/Scripts/dt.users.js"></script>
<script src="~/Scripts/dt.viewmodels.js"></script>

@*<script src="~/DeliveryTracker.min.js"></script>*@
<script type="text/javascript">
	$(document).ready(function () {
	    var userAuth = $.cookie('dtuserauth'),
            authHeaders = DT.authentications.getAuthHeaders(),
			dt = DT.viewModels;

		$.ajaxSetup({
		    headers: authHeaders
		});
		var forgotPassword = new dt.ForgotPassword(),
		    deliveries = new dt.Deliveries();

		var viewModel = new dt.ViewModel([
            new dt.Page('deviceauth', new dt.DeviceAuth()),
			new dt.Page('login', new dt.Login()),
            new dt.Page('register', new dt.Register()),
            new dt.Page('deliveries', deliveries),
            new dt.Page('delivery', deliveries),
            new dt.Page('signature', deliveries),
            new dt.Page('print', deliveries),
            new dt.Page('map', deliveries),
            new dt.Page('enterUsername', forgotPassword),
            new dt.Page('passwordHint', forgotPassword)
		]);

		ko.applyBindings(viewModel);
	});
</script>
</html>