<!DOCTYPE html>

<html lang="en">
<head>
	<title>Delivery Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@*<link href="/DeliveryTracker.min.css" rel="stylesheet" type="text/css" />*@
	<link href="~/Content/bootstrap3.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div data-bind="with: selectedPage">
			<div data-bind="template: { name: template, data: data }"></div>
		</div>

		<script type="text/html" id="login">
			<form>
				<fieldset>
					<legend>Sign in</legend>
					<div class="form-group" data-bind="validate: UserName()">
						<label class="control-label">Username</label>
						<input type="text" class="form-control" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: Password()">
						<label class="control-label">Password</label>
						<a href="#" data-bind="click: Forgot">Forgot?</a>
						<input type="password" class="form-control" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: Truck()">
						<label class="control-label">Truck</label>
						<select class="form-control" data-bind="value: Truck, options: Trucks, optionsCaption: 'Select a Truck...'"></select>
					</div>
					<button class="btn btn-primary" type="submit" data-bind="click: Login, css: { disabled: IsInvalid }">Sign in</button>
					<button class="btn btn-default" type="submit" data-bind="click: Register">Register</button>
					<button class="btn btn-default" type="submit" data-bind="click: AuthDevice">Authorize</button>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="register">
			<form>
				<fieldset>
					<legend>Register</legend>
					<div class="form-group" data-bind="validate: UserName()">
						<label class="control-label">Username</label>
						<input type="text" class="form-control" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: Password() && Password() === PasswordConfirm()">
						<label class="control-label">Password</label>
						<input type="password" class="form-control" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: PasswordConfirm() && Password() === PasswordConfirm()">
						<label class="control-label">Confirm Password</label>
						<input type="password" class="form-control" placeholder="Password" data-bind="value: PasswordConfirm, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: HintQuestion()">
						<label class="control-label">Hint Question (Will be asked if you forget your password)</label>
						<input type="text" class="form-control" placeholder="Hint Question" data-bind="value: HintQuestion, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: HintAnswer()">
						<label class="control-label">Hint Answer</label>
						<input type="text" class="form-control" placeholder="Hint Answer" data-bind="value: HintAnswer, valueUpdate:'afterkeydown'" />
					</div>

					<button class="btn btn-primary" type="submit" data-bind="click: Register, css: { disabled: IsInvalid }">Register</button>
					<button class="btn btn-default" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="enterUsername">
			<form>
				<fieldset>
					<legend>Enter Username</legend>
					<div class="form-group" data-bind="validate: UserName()">
						<label class="control-label">Username</label>
						<input type="text" class="form-control" placeholder="Username" data-bind="value: UserName, valueUpdate:'afterkeydown'" />
					</div>					
					<button class="btn btn-primary" type="submit" data-bind="click: SubmitUserName, css: { disabled: UserIsInvalid }">Submit</button>
					<button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="passwordHint">
			<form>
				<fieldset>
					<legend>Answer Hint Question</legend>
					<div data-bind="if: HintQuestion() !== ''">
						<h3>Answer Hint</h3>
						<span data-bind="text: HintQuestion"></span>?
						<div class="form-group" data-bind="validate: HintAnswer()">
							<label class="control-label">Answer</label>
							<input type="text" class="form-control" placeholder="Answer" data-bind="value: HintAnswer, valueUpdate:'afterkeydown'" />
						</div>	
						<div class="form-group" data-bind="validate: Password() && Password() === PasswordConfirm()">
							<label class="control-label">New Password</label>
							<input type="password" class="form-control" placeholder="Password" data-bind="value: Password, valueUpdate:'afterkeydown'" />
						</div>	
						<div class="form-group" data-bind="validate: PasswordConfirm() && Password() === PasswordConfirm()">
							<label class="control-label">Confirm Password</label>
							<input type="password" class="form-control" placeholder="Password" data-bind="value: PasswordConfirm, valueUpdate:'afterkeydown'" />
						</div>	
						<button class="btn btn-primary" type="submit" data-bind="click: SavePassword, css: { disabled: IsInvalid }">Submit</button>
						<button class="btn" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
					</div>
					<div id="loading" class="text-center" data-bind="if: HintQuestion() == ''">
						<img src="img/loading.gif" alt="loading" /></div>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="deliveries">
			<form>
				<fieldset>
					<legend>Deliveries</legend>
					<div data-bind="if: Deliveries().length > 0">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Company</th>
									<th>Contact</th>
									<th></th>
								</tr>
							</thead>
							<tbody data-bind="foreach: Deliveries">
								<tr>
									<td>
										<p data-bind="text: Company"></p>
										<p data-bind="text: Addr1"></p>
									</td>
									<td data-bind="text: Contact"></td>
									<td>
										<button class="btn btn-default" data-bind="click: $parent.goToDelivery, css: { disabled: Completed }">Details</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div data-bind="if: Deliveries().length == 0">
						There are no pending deliveries for this truck
					</div>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="delivery">
			<form data-bind="with: CurrentDelivery">
				<fieldset>
					<legend>Delivery <span data-bind="text: Number"></span></legend>
					<div class="row">
						<div class="col-6">
							<address>
								<strong data-bind="text: Company"></strong>
								<br />
								<span data-bind="text: Contact"></span>
								<br />
								<span data-bind="text: Addr1"></span>
								<br />
								<span data-bind="text: City"></span>, <span data-bind="text: State"></span><span data-bind="text: Zip"></span>
								<br />
							</address>
						</div>
						<div class="col-6">
							<div class="row">
								<div class="col-4"><strong>PO #</strong></div>
								<div class="col-8" data-bind="text: PoNumber"></div>
							</div>
							<div class="row">
								<div class="col-4"><strong>Phone</strong></div>
								<div class="col-8" data-bind="text: Phone"></div>
							</div>
						</div>
					</div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Item</th>
								<th>Allocated</th>
								<th>Delivered</th>
							</tr>
						</thead>
						<tbody data-bind="foreach: Items">
							<tr>
								<td>
									<p data-bind="text: Number"></p>
									<p data-bind="text: Description"></p>
								</td>
								<td data-bind="text: Allocated"></td>
								<td>
									<input type="number" class="form-control" data-bind="value: Delivered" />
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-default" data-bind="click: $parent.goToDeliveries">Deliveries</button>
					<button class="btn btn-primary" data-bind="click: $parent.goToSignature, css: { disabled: canSubmit }">Signature</button>
					<button class="btn btn-success" data-bind="click: submit, css: { disabled: !canSubmit() }">Submit</button>
					@*<button class="btn btn-inverse" data-bind="click: $parent.goToMap">Map</button>*@
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="submit">
			<form data-bind="with: CurrentDelivery">
				<fieldset>
					<legend>Submit</legend>
					<div class="form-group">
						<label>Are you sure you want to submit <span data-bind="text: Number"></span>?</label>
					</div>
					<button class="btn btn-danger" data-bind="click: $parent.goToDelivery">No</button>
					<button class="btn btn-success" data-bind="click: save">Yes</button>
				</fieldset>
			</form>
		</script>

		<script type="text/html" id="signature">
			<form data-bind="with: CurrentDelivery">
				<fieldset>
					<legend>Signature</legend>
					<div class="row-fluid">
						<div class="span12">
							<canvas id="signatureCanvas"></canvas>
						</div>
					</div>
					<div class="form-group" data-bind="validate: Printed()">
						<label class="control-label">Printed</label>
						<input type="text" class="form-control" data-bind="value: Printed, valueUpdate:'afterkeydown'" />
					</div>

					<button class="btn btn-default" data-bind="click: $parent.goToDelivery">Delivery</button>
					<button class="btn btn-success" data-bind="click: $parent.saveSignature, css: { disabled: !canSaveSignature() }">Save</button>
					<button class="btn btn-danger" data-bind="click: $parent.cancelSignature">Clear</button>
				</fieldset>
			</form>
		</script>

		@*        <script type="text/html" id="map">
			<form data-bind="with: CurrentDelivery">
		<fieldset>
				<legend>Map</legend>
				<div>
					<img data-bind="attr: { src: 'https://maps.googleapis.com/maps/api/staticmap?center=' + Addr1 + ',' + Zip + '&amp;zoom=16&amp;size=350x220&amp;markers=' + Addr1 + ',' + Zip + '&amp;sensor=false' }" />
				</div>
				<button class="btn btn-default" data-bind="click: $parent.goToDelivery">Delivery</button>
		</fieldset>
			</form>
		</script>*@

		<script type="text/html" id="deviceauth">
			<form>
				<fieldset>
					<legend>Authorize Device</legend>
					<div class="form-group" data-bind="validate: deviceName()">
						<label class="control-label">Device Name</label>
						<input type="text" class="form-control" data-bind="value: deviceName, valueUpdate:'afterkeydown'" />
					</div>
					<div class="form-group" data-bind="validate: deviceAuth()">
						<label class="control-label">Authorization Code</label>
						<input type="password" class="form-control" data-bind="value: deviceAuth, valueUpdate:'afterkeydown'" />
					</div>
					<button class="btn btn-success" data-bind="click: setAuthCode, css: { disabled: IsInvalid }">Authorize</button>
					<button class="btn btn-default" type="submit" data-bind="click: $root.GoToLogin">Cancel</button>
				</fieldset>
			</form>
		</script>
	</div>
</body>

<script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/lib/jquery.cookie.js"></script>
<script src="~/Scripts/lib/knockout-2.2.1.js"></script>
<script src="~/Scripts/ko.numeric.js"></script>
<script src="~/Scripts/ko.validate.js"></script>
<script src="~/Scripts/canvas.js"></script>
<script src="~/Scripts/dt.authentications.js"></script>
<script src="~/Scripts/dt.deliveries.js"></script>
<script src="~/Scripts/dt.handleError.js"></script>
<script src="~/Scripts/dt.trucks.js"></script>
<script src="~/Scripts/dt.users.js"></script>
<script src="~/Scripts/dt.viewmodels.js"></script>

@*<script src="~/DeliveryTracker.min.js"></script>*@
<script type="text/javascript">
	$(document).ready(function () {
		var userAuth = $.cookie('dtuserauth'),
			authHeaders = DT.authentications.getAuthHeaders(),
			dt = DT.viewModels;

		$.ajaxSetup({
			headers: authHeaders
		});

		var forgotPassword = new dt.ForgotPassword(),
			deliveries = new dt.Deliveries();

		var viewModel = new dt.ViewModel([
			new dt.Page('deviceauth', new dt.DeviceAuth()),
			new dt.Page('login', new dt.Login()),
			new dt.Page('register', new dt.Register()),
			new dt.Page('deliveries', deliveries),
			new dt.Page('delivery', deliveries),
			new dt.Page('signature', deliveries),
			new dt.Page('print', deliveries),
			new dt.Page('submit', deliveries),
			//new dt.Page('map', deliveries),
			new dt.Page('enterUsername', forgotPassword),
			new dt.Page('passwordHint', forgotPassword)
		]);

		ko.applyBindings(viewModel);
	});
</script>
</html>
